.banner img{
  max-width: 1240px;
  width: 100%;
  height: 223px;
  object-fit: cover;
  border-radius: 25px;
  background-blend-mode: darken;
  filter: brightness(70%);
  z-index: 0;
  position: relative;
}
.titlebanner{
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  color: #fff;
  z-index: 2;
  bottom: 155px;
  max-width: 705px;
  width: 100%;
}
.banner{
  max-width: 1240px;
  width: 100%;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1240px;
  height: 223px;
  background: linear-gradient( rgb(0 0 0 / 0%), rgb(0 0 0 / 15%));
  z-index: 1;
  margin-left: 100px;
  border-radius: 25px;
}
.banner-home{
  height: 223px;
  position: relative;
  margin-top: 98px;
}



@media screen and (min-width: 768px) and (max-width: 992px) {
.banner{
  max-width: 768px;
  margin: auto;
}
.banner-home{
  max-width: 760px;
}
.titlebanner{
  font-size: 44px;
}
}

@media screen and (min-width: 426px) and (max-width: 767px) {
.banner-home{
  max-width: 667px;
    margin-top: 50px;
    width: 100%;
}
.titlebanner{
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}
.banner{
  max-width: 667px;
  width: 100%;
}
.banner img{
  max-width: 700px;
  height: 180px;
  margin-top: 25px;

}
}
@media screen and (min-width: 376px) and (max-width:425px){
  .titlebanner{
    font-size: 26px;
    margin-left: 20px;
  }
  .banner{
    max-width: 366px;
    width: 100%;
  }
  .banner-home{
    height: 153px;
    position: relative;
    margin-top: 38px;
    margin-bottom: 30px;
  }
  .banner img{
    max-width: 366px;
    width: 100%;
    height: 163px;
  }
}

@media screen and (max-width: 375px){
  .banner img{
    max-width: 335px;
    width: 100%;
    height: 111px;
    margin-left: 0px;
    margin-top: -20px;
    border-radius: 10px;
  }
  .banner::after{
    max-width: 335px;
    width:100%;
    height: 111px;
    margin-left: 0px;
    margin-top: -20px;
    border-radius: 10px;
  }
  .titlebanner{
    font-size: 24px;
    line-height: 24px;
    max-width: 217px;
    width:100%;
    height: 48px;
    bottom: 85px;
    right: 40px;
  }
  .banner-home{
    max-width: 335px;
    width:100%;
    height: 111px;
    margin: auto;
  }
    
}