.card-logements{
    width: 1240px;
    margin-left: 100px;
    border-radius: 25px;
    background-color: #F6F6F6;
    margin-top:37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.logement-card img{
    width: 100%;
    max-width: 340px;
    height: 340px;
    border-radius: 10px;
    z-index: 0;
    object-fit: cover;
}
.logement-card h2{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    width: 300px;
    color: #fff;
    z-index: 2;
    margin-top: 268px;
    position: absolute;
}
.logement-card{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 340px;
    margin-top: 56px;
    margin-left: 56px;
    position: relative;
}
.list-logement{
    padding-bottom: 56px;
    z-index: 0;
}
.logement-card::before { 
    content: ""; 
    position : absolute ; 
    top : 0 ; 
    left : 0 ; 
    right : 100% ;
    width: 100%;
    max-width: 340px;
    height: 340px;
    background: Linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 1;
    border-radius: 10px;
}

/* Styles pour les écrans plus étroits */
@media screen and (max-width: 375px) {
    .card-logements{
    width: 335px;
    margin-left: 0px;
    background: none;
    margin-top: 16px;
    }
    .card-logements img{
        border-radius: 10px;
    width: 335px;
    height: 255px;
    object-fit: cover;
    }
    .logement-card{
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 26px;
    }
      
      .logement-card h2{
        margin-top: 188px;
        margin-left: 19.7px;
        width: 295px;
        
      }  
      .logement-card::before{
        width: 335px;
        height: 255px;
        left:3px
      }
    
}