.collapse-button{
    background-color: #FF6060;
    border: 0px;
    border-radius: 10px;
    max-width: 1023px;
    width: 100%;
    height: 47px;
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 208px;
    padding-left: 18px;
    position: relative;
    top: 25px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;

}

.collapse{
    width: 100%;
    margin-top: 0px;
}
.collapse-content{
    width: 100%;
    max-width: 1023px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 208px;
    padding-left: 18px;
    position: relative;
    bottom: 30px;
    border-radius: 10px;
    background-color: #f6f6f6;
    padding-top: 30px;
    padding-bottom: 15px;
    color:#FF6060;
}
.collapse-chevron {
    color: #ffffff;
    font-size:32px; 
}
.collapse-chevron.up::before {
    content: '\f077'; /* Code de l'icône FontAwesome pour le chevron vers le haut */
    font-family: 'Font Awesome 5 Free'; 
}
.collapse-chevron.down::before {
    content: '\f078'; /* Code de l'icône FontAwesome pour le chevron vers le bas */
}
.collapse-body{
    display: flex;
    width: 100%;
    max-width: 1240px;
    position: relative;
    justify-content: space-between;
    top: 70px;
}
.collapse-body .collapse-button{
    max-width: 582px;
    height: 52px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 10px;
    margin-left: 0px;
    margin-bottom: 45px;
}
.collapse-body .collapse-content{
    width: 582px;
    height: 249px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 35px;
    margin-left: 0px;
    position: relative;
    bottom: 65px;
}
.list-equipement{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.collapse-button .downup img{
    transform: rotate(180deg);
    width: 32px;
    height: 32px;
}
.collapse-button .downup{
    filter: invert(100%);
    transition: transform 0.3s ease;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: normal;
    align-items: center;
    width: 50px;
}
.downup img{
    height: 0px;
}

@media screen and (min-width: 993px) and (max-width: 1420px) {
    .collapse{
        max-width: 993px;
        width: 100%;
    }
    .collapse-button{
        max-width: 993px;
        width: 100%;
    }
    .collapse-button, .collapse-content{
        max-width: 993px;
        width: 100%;
        margin-left: 0px;
    }
    .collapse-body{
        max-width: 993px;
        width: 100%;
    }
    .collapse-body .collapse-button, .collapse-body .collapse-content{
        max-width: 482px;
    width: 100%;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
.collapse{
    max-width: 750px;
}
.collapse-button{
    max-width: 760px;
    margin-left: auto;
    font-size: 20px;
}
.collapse-content{
    max-width: 760px;
    margin-left: auto;
    font-size: 20px;
}
.collapse-body .collapse{
    max-width: 400px;
    
}
.collapse-body .collapse-button{
    font-size: 16px;
    max-width: 360px;;
}
.custom-slideshow-container{
    max-width: 760px;
}
.collapse-body .collapse-content{
    max-width: 360px;
    font-size: 16px;
}
.collapse-body{
    max-width: 760px;
    width:100%;
}
}



@media screen and (min-width: 426px) and (max-width: 767px) {
.collapse, .collapse-button, .collapse-content{
    max-width: 700px;
    margin-left: auto;
}
.collapse-button, .collapse-content{
    font-size: 15px;
}
.collapse-body{
    max-width: 700px;
    top: 50px;
}
.collapse-body .collapse-button{
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    max-width: 700px;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 20px;
}
.collapse-body{
    flex-direction: column;
    position: relative;
    top: 45px;
    max-width: 700px;
}
.collapse-body .collapse-content{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 700px;
    width: 100%;
    height: 153px;
    margin-left: 0px;
    padding-top: 50px;
}
}

@media screen and (min-width: 376px) and (max-width:425px){
  .collapse-button{
    margin:0px;
  }
  .collapse{
    max-width: 366px;
    width: 100%;
    margin: auto;
  }
  .collapse .collapse-button{
    margin-left: 0px;
    height: 37px;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 0px;
  }
  .collapse-content{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-left: 0px;
    max-width: 360px;
    width: 100%;
    margin-top: 35px;
  }
  .collapse-body{
    max-width: 466px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .collapse-body .collapse-content{
    font-size: 14px;
    padding-top: 40px;
  }
  .container-logement .collapse-body{
    position: relative;
    top: 30px;
  }
}


@media screen and (max-width: 375px){

    .collapse{
        width: 100%;
        max-width: 335px;
        margin: auto;
        
    }
    .collapse-button{
        max-width: 335px;
        width: 100%;
        height: 30px;
        font-size: 13px;
        font-weight: 500;
        line-height: 19px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        position: relative;
        top: 0px;
    }
    .collapse-content{
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        margin-left: 0px;
        max-width: 335px;
        width:100%;
    }
    .collapse .collapse-button {
        margin-left: 0px;
        height: 37px;
        font-size: 13px;
        margin-bottom: 20px;
        padding-top: 0px;
    }
    .collapse-body .collapse-content{
        font-size: 13px;
        height: 180px;
    }
    .collapse-body{
        width: 100%;
    max-width: 375px;
    position: relative;
    justify-content: space-between;
    top: 30px;
    display: flex;
    flex-direction: column;
    }

    .collapse-button .downup {
        bottom: 0px;
    }
    .collapse-button .downup img{
        max-width: 18px;
        width: 100%;
        height: 18px;
        margin: auto;
        display: flex;
        position: relative;
        left: 110px;
    }
}