.title404 h1{
    font-family: Montserrat;
    font-size: 288px;
    font-weight: 700;
    line-height: 411px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 173px;
    max-width: 1440px;
    width: 100%;
    height: 263px;
    display: flex;
    justify-content: center;
}
.title404{
    max-width: 597px;
    height: 263px;
    margin: auto;
    width: 100%;
}
.text404 p{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
}
.text404{
    width: 100%;
    max-width: 1240px;
    height: 51px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 115px;
}
.returnHome a{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff6060;
    display: flex;
    justify-content: center;
}
.returnHome{
    height:26px;
    margin-top:209px;
}



@media screen and (min-width: 993px) and (max-width: 1420px) {
    .text404{
        max-width: 993px;
        width: 100%;
        margin-left: 0px;
    }
    .text404 p{
        max-width: 990px;
        width: 100%;
        margin: 0px;
        font-size: 33px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
.title404 h1{
    font-size: 250px;
}
.text404 p{
    font-size: 30px;
    max-width: 768px;
}
.text404{
    max-width: 768px;
    width: 100%;
    margin-left: 0px;

}
}



@media screen and (min-width: 426px) and (max-width: 767px) {
.title404 h1{
    font-size: 200px;
    margin-top: 100px;
}
.text404{
    max-width: 767px;
    margin-left: auto;
    margin-top: 10px;
}
.text404 p{
    font-size: 25px;
}
}

@media screen and (min-width: 376px) and (max-width:425px){
  .title404 h1{
    font-size: 102px;
    max-width: 376px;
  }
  .text404 p{
    font-size: 22px;
    max-width: 376px;
    margin-left: 0px;
    width: 100%;
  }
  .text404{
    max-width: 376px;
    margin-left: 0px;
    width: 100%;
    margin-top: 25px;
  }
}

@media screen and (max-width: 375px){
    .title404 h1{
        font-size: 96px;
        font-weight: 700;
        line-height: 137px;
        width: 100%;
        height: 99px;
        text-align: center;
    }
    .title404{
        margin-left: 0px;
        margin: auto;
        width: 100%;
    }
    .text404{
        width: 100%;
        margin: auto;
    }
    .text404 p{
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        max-width: 260px;
        width: 100%;
        height: 52px;
        position: absolute;
        top: 357px;
        margin-top: 30px;
        margin: auto;
    }
    .returnHome a{
        font-size: 14px;
    }
    .returnHome{
        margin: auto;
    }
    
}