.container-footer{
  background:#000;
}
.container-footer p{
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  width: 513px;
  height: 46px;
  margin-top: 34px;
  margin-left: 463px;
}
  

  @media screen and (max-width: 375px) {
   .container-footer p{
    margin-top: 33px;
    margin-left: 0px;
    font-size: 12px;
    line-height: 17px;

   }
   
  }