.logofooter img{
    width: 122px;
    height: 39.4px;
}
.logofooter{
    padding-top: 66px;
    padding-left: 659px;
}

@media screen and (max-width: 375px){
    .logofooter{
        padding-top: 62px;
        padding-left: 127px;
    }
}