.logo img{
    width: 210.32154846191406px;
    height: 68px;
}


@media screen and (min-width: 768px) and (max-width: 992px) {
.logo img{
    width: 195px;
    height: 65px;
}
}

@media screen and (min-width: 426px) and (max-width: 767px) {
.logo img{
    width: 165px;
    height: 55px;
}
}

@media screen and (min-width: 376px) and (max-width:425px){
  .logo img{
    width: 150px;
    height: 50px;
  }
}

@media screen and (max-width: 375px){
   .logo img{
    width: 100%;
    height: 47px;
    max-width: 145px;
   } 
}