.nav{
  justify-content: center;
    max-width: 1240px;
    width: 100%;
    display: flex;
    height: 68px;
    position: relative;
    flex-wrap: nowrap;
    padding-top: 40px;
    padding-left: 100px;
}
.navigation a{
  text-decoration: none;
  margin-right: 25px;
}
.navigation ul{
  display: flex;
  width: 309px;
  width: 140px;
  justify-content: center;
  float: right;
}
.navigation li{
  list-style-type: none;
  text-align: right;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
  position: relative;
  width: 136px;

}

.navigation li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px; 
  left: 0;
  transform: scaleX(0); 
  transition: transform 0.3s ease; 
}

.navigation li:active::after {
  transform: scaleX(1); 
}

.navigation li:active::after {
  border-bottom: 1px solid #FF6060; 
  width:100%;
}

 
  
  
  
  


  @media screen and (max-width: 375px){
.navigation li{
  font-size: 12px;
  line-height: 17px;

}
.navigation{
  width: 140px;
  margin-left: 50px;
}
.nav{
  max-width: 335px;
    width: 100%;
    height: 47px;
    padding-left: 0px;
    padding-top: 0px;
}


.navigation li{
  width: 71px;

}
.navigation a{
  text-transform: uppercase;
  max-width: 71px;
  width:100%;
}
.navigation li::after {
  width:50%;
}
.navigation ul{
  justify-content: space-evenly;
  width: 100%;
  max-width: 140px;
  padding-right: 53px;
}
  }

  
  
