/* Pour les étoiles solides (faStar) */
.fas.fa-star {
    color:#FF6060; 
    height: 36px;
    width: 36px;
}
/* Pour les étoiles vides (faStarEmpty) */
.far.fa-star {
    color: #E3E3E3; /* Couleur de l'étoile vide */
    height: 36px;
    width: 36px;
}
.rating-location {
    width: 196px;
    display: flex;
    float: right;
    justify-content: center;
    position: relative;
    top: 15px;
}

@media screen and (min-width: 993px) and (max-width: 1420px) {
    
}


@media screen and (min-width: 768px) and (max-width: 992px) {
.rating-location{
    width: 150px;
    justify-content: flex-start;
}
.fas.fa-star, .far.fa-star{
    width: 30px;
    height: 30px;
}
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .fas.fa-star, .far.fa-star{
        width:25px;
        height:25px
    }
    .rating-location{
        width: 100%;
    position: relative;
    right: 0px;
    top: 5px;
    display: flex;
    justify-content: right;
    max-width: 80px;
    }
}


@media screen and (min-width: 376px) and (max-width:425px){
 .rating-location{
    max-width: 150px;
    display: flex;
    float: inline-start;
    justify-content: space-evenly;
    width: 100%;
 } 
 .fas.fa-star, .far.fa-star{
    height: 28px;
    width: 28px;
    position: relative;
    bottom: 60px;
 }
}

@media screen and (max-width: 375px){
    .rating-location{
        justify-content: flex-start;
    display: flex;
    align-self: end;
    max-width: 100px;
    width: 100%;
}
    
    .rating-location svg{
        max-width:18px;
        height:18px;
        width:100%;
    }
}