.rating-location .rating-location{
    width:196px;
    display: flex;
    float: right;
}
/* Pour les étoiles solides (faStar) */
.fas.fa-star {
    color:#FF6060; 
}

/* Pour les étoiles vides (faStarEmpty) */
.far.fa-star {
    color: #E3E3E3; /* Couleur de l'étoile vide */
}


@media screen and (max-width: 375px){
    .rating-location{
        width: 100%;
        max-width: 98px;
        height: 18px;
        position: relative;
        right: 51px;
    }
    .rating-location svg{
        max-width:18px;
        height:18px;
        width:100%;
    }
}