
.carousel-root{
    outline: none;
    max-width: 100%;
    width: 1240px;
    margin-left: 100px;
    height: 100%;
}
.carousel.carousel-slider {
    position: relative;
    margin: 0;
    overflow: hidden;
    max-width: 100%;
    width: 1240px;
    height: 415px;
}
.carousel .carousel-status {
    position: absolute;
    top: 357px;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}
.carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    max-width: 1240px;
    height: 415px;
    transition: height .15s ease-in;
}
.carousel.carousel-slider .control-arrow {
    top: 0px;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
    padding: 5px;
}

/* Styles pour les flèches du carrousel */
.control-arrow.control-prev,
.control-arrow.control-next {
  background-color: transparent; /* Fond transparent */
  border: 2px solid #fff; /* Contour de la flèche */
  border-top: none; /* Supprimer le contour supérieur */
  border-bottom: none; /* Supprimer le contour inférieur */
  width: 60px; /* Largeur de la flèche */
  height: 60px; /* Hauteur de la flèche */
  position: absolute; /* Position absolue */
  top: 50%; /* Aligner au centre vertical */
  transform: translateY(-50%); /* Ajuster la position verticale */
  font-size: 20px; /* Taille de la flèche */
  cursor: pointer; /* Curseur de la flèche */
}

.control-arrow.control-prev {
  left: 10px; /* Position à gauche pour aller à gauche */
}

.control-arrow.control-next {
  right: 10px; /* Position à droite pour aller à droite */
}





@media screen and (max-width: 375px){


}
