.custom-slideshow-container{
  width:100%;
  max-width: 1240px;
  margin: auto;
  height:415px;
}
.custom-slide img{
  height: 415px;
  width: 100%;
  max-width: 1240px;
  object-fit: cover;
  border-radius: 15px;
}
.image-number{
  margin: auto;
  display: flex;
  width: 1240px;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  position: relative;
  top: 180px;
  justify-content: space-evenly;
}
.custom-controls button{
  height: 119px;
    max-width: 96px;
    width: 100%;
    background: transparent;
    border: 0px;
}
.custom-controls{
  display: flex;
    position: relative;
    bottom: 280px;
    justify-content: space-evenly;
}
.fa-chevron-right, .fa-chevron-left{
  color: #fff;
  font-size: 80px;
}


@media screen and (min-width: 768px) and (max-width: 992px) {
.custom-slide img{
  max-width: 768px;
}
.image-number{
  width: 768px;
  font-size: 16px;
}
.fa-chevron-left::before, .fa-chevron-right::before{
  content: "\f054";
  font-size: 70px;
}
.entete{
  max-width: 760px;

}
}


@media screen and (min-width: 426px) and (max-width: 767px) {
.custom-slideshow-container, .custom-slide img{
  width: 100%;
  max-width: 700px;
  margin: auto;
  height: 280px;
}
.image-number{
  color:transparent;
}
.fa-chevron-left::before, .fa-chevron-right::before{
  content: "\f054";
    font-size: 40px;
}
.custom-controls button{
  height: 80px;
    max-width: 86px;
    padding-top: 55px;
}
}

@media screen and (min-width: 376px) and (max-width:425px){
  .custom-slide img{
    height: 300px;
    width: 100%;
    max-width: 366px;
    object-fit: cover;
    border-radius: 15px;
    margin: auto;
    display: flex;
  }
  .fa-chevron-right, .fa-chevron-left{
    font-size: 40px;
    margin-top: 100px;
  }
  .image-number{
    color: transparent;
  }
}


@media screen and (max-width: 375px){
.custom-slide img{
  height: 255px;
  max-width: 355px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.image-number{
  color: transparent;
}
.fa-chevron-left, .fa-chevron-right{
  font-size: 24px;
  top: 100px;
  position: relative;

}
.fa-chevron-left{
  right: 18px;
  position: relative;
}
.fa-chevron-right{
  left: 18px;
  position: relative;
}
}