
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url('./font/static/Montserrat-Regular.ttf') format('truetype'); 
  }
*{
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    margin:auto;
    
}
h1,h2, p, li{
  color:#FF6060;
}
#root {
  max-width: 1440px;
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
*{
  max-width: 1024px;
  width: 100%;
  margin:auto;
}
}

@media screen and (min-width: 376px) and (max-width: 767px) {
*{
  max-width: 767px;
  width: 100%;
  margin: auto;
}
}

@media screen and (max-width: 375px){
   *{
    max-width: 375px;
    margin: auto;
   }
   #root {
    max-width: 375px;
      width: 100%;
  }
}




